{% extends "index.html" %}

{% block content %}
    <form action='/hire' method='post'>
        <div>
            <label for='name'>Name:</label>
            <input type='text' name='name' id='name' >
        </div>
        <div>
            <label for='coursename'>Course Name:</label>
            <input type='text' name='coursename' id='coursename' >
        </div>
        <div><input type="submit" value='Cadastrar!' /></div>
    </form>
{% endblock %}
