<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates com Jinja2</title>
</head>
<body>
    {% block content %}
    {% endblock content %}
</body>
</html>