{% extends "index.html" %}

{% block content %}
    <form action="/professor" method='get'>
        <span>
            <input type='text' name='nome' id='nome' size="5">
            <label for='nome'>Digite o nome do professor</label>
        </span>
        <input type="submit" value='Lista de Profs!' />
        <br/>
        <ul>
            {% for professor in listed %}
                <li>{{ professor['name'] }} - {{ professor['coursename'] }}</li>
            {% endfor %}
        </ul>
    </form>
{% endblock %}